<div id="<%= dom_id comment %>">
  <p>
    <strong>Context:</strong>
    <%= comment.context %>
  </p>

  <p>
    <strong>User:</strong>
    <%= comment.user_id %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= comment.picture_id %>
  </p>

</div>
